@mixin menuElement-shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

h6 {
  font-weight: 500;
  font-size: 30px;
  font-family: $font-family_3;
}

h5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px !important;
}


header {
  .headerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
      width: 100%;
      text-align: center;
    }

    .iconBack {
      margin-left: 25px;
      position: absolute;
      font-size: 18px;
    }
  }
}
.sectionBackgroundMenu1 {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 250px;
  background-size: cover;
  background-position: center;
}

.sectionBackgroundMenu2 {
  background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  height: 250px;
  background-size: cover;
  background-position: center;
}

.sectionBackgroundMenu3 {
  background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  height: 250px;
  background-size: cover;
  background-position: center;
}

.sectionBackgroundMenu4 {
  background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  height: 250px;
  background-size: cover;
  background-position: center;
}


section {
  .header__section {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 35px 35px 0px 0px;
    background-color: $grey-color_1;

    .titleMenu1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  }
}


section
{
  .firstMenu
  {
    border-bottom: 3px solid $green-color;
    width: 40px;
    margin-bottom: 10px;

    h5{
      margin-bottom: 5px;
    }
  }

  .card_reunite
  {
    display: flex;
    flex-direction: column;
  }

  .card__menu
  {
    background-color: $white-color;
    margin-bottom: 15px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 15px;
    opacity: 0;
    @include menuElement-shadow()
  }
  .menu__price
    {
      font-weight: bold;
      padding-left: 15px;
    } 

  
}

.check 
    {
      background-color: $green-color;
      border-radius: 0px 15px 15px 0px;
      color: $white-color;
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      white-space: nowrap;
      width: 0;
    }

    .check i
    {
      transform: rotate(-360deg);
    }


  


.all
{

  position: absolute;
  width: 100%;
  top: 270px;

  .button2
  {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
  }

  .buttonCommand
  {
    background: linear-gradient(175deg, #ff79da, #9356dc);
      color: $text-color-white;
      font-weight: 400;
      padding: 15px 50px;
      border-radius: 30px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.menu 
{
  padding-bottom: 30px;

  .card_reunite
  {
    .container2 
  {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h4 {
      white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
    }

    .menu__description
  {
    white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;


    .menutext__wrap
    {
      margin-top: 3px;
      font-size: 14px;
      white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
    }
    
    
  }

    
  }
  }

  
}


.threeMenu {
  background-color: $grey-color_1;
  padding: 20px;
  padding-top: 0px;
}
