/*DESKTOP*/


@media (min-width: 992px) {




    .menu 
    {
        font-size: 20px;
        
        .card_reunite
        {
            width: 33%;

            
        }
    }

    section {
        .header__section {
          .titleMenu1 {
            h6 {
              font-size: 80px;
            }
          }
        }
      }


}

